DJANGO_SECRET_KEY=change-this-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

RAZORPAY_KEY_ID=rzp_test_T8ifsrZGmoFcD0
RAZORPAY_KEY_SECRET=h8k2pq5H7TP3PSb2T01Eh40b

SENDGRID_API_KEY=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
